#include "resource.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// 图标
//

// 应用程序图标
IDI_MCADVANCEMENTSONWIN ICON "MCAdvancementsOnWin.ico"
IDI_SMALL               ICON "MCAdvancementsOnWin.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 菜单
//

IDC_MCADVANCEMENTSONWIN MENU
BEGIN
POPUP "文件(&F)"
BEGIN
MENUITEM "更新成就列表(&U)", IDM_FILE_UPDATE_JSON
MENUITEM SEPARATOR
MENUITEM "退出(&X)", IDM_FILE_EXIT
END
POPUP "设置(&S)"
BEGIN
MENUITEM "音效(&A)", IDM_SETTINGS_SOUND
MENUITEM "提示触发方式(&T)", IDM_SETTINGS_SHOW_TRIGGER
MENUITEM SEPARATOR
MENUITEM "清空存档(&C)", IDM_SETTINGS_CLEAR_SAVE
END
POPUP "帮助(&H)"
BEGIN
MENUITEM "关于(&A)...", IDM_ABOUT
END
END

/////////////////////////////////////////////////////////////////////////////
//
// 对话框
//

IDD_ABOUTBOX DIALOGEX 0, 0, 225, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 MC Advancements on Windows"
FONT 9, "MS Shell Dlg"
BEGIN
ICON            IDI_MCADVANCEMENTSONWIN, IDC_STATIC, 14, 14, 21, 20
LTEXT           "MC Advancements on Windows, 版本 beta-2026.8.7", IDC_STATIC, 42, 14, 200, 8, SS_NOPREFIX
LTEXT           "由MoyeeLZX开发", IDC_STATIC, 42, 26, 114, 8
EDITTEXT        IDC_ABOUT_LINK, 14, 38, 200, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER
DEFPUSHBUTTON   "确定", IDOK, 165, 50, 50, 14, WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// 版本信息
//.

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2026, 8, 7
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "CompanyName", "mylzx@2btb.top"
VALUE "FileDescription", "MC Advancements on Windows"
VALUE "FileVersion", "beta-2026.8.7"
VALUE "InternalName", "MCAdvancementsOnWin"
VALUE "LegalCopyright", "MoyeeLZX 2026"
VALUE "OriginalFilename", "MCAdvancementsOnWin.exe"
VALUE "ProductName", "MC Advancements on Windows"
VALUE "ProductVersion", "beta-2026.8.7"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0804, 1200
END
END
